body {
    background-color:rgb(44, 65, 85); 
}
#retângulo {
    background-color: green;  
    margin-top: 100px;
    margin-left: 500px;
    width: 25%;
    height: 400px;
}
#btn {
    border: none; 
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 34px;
    margin-top: 25px;
    color: white;
    background-color: rgb(165, 73, 89);
    cursor: pointer; 
         
}
.txt {
    color: white;
    margin-left: 0px; 
    margin-top: 40px;
    margin-bottom: 0px; 
    font-weight:normal;
    font-size: 19px; 
}
.txt2 {
    font-family: Helvetica, sans-serif;
    color: white;
    margin-left: 34px; 
    margin-top: 50px; 
    margin-bottom: 0px;
    font-weight:normal;
    font-size: 11px; 
}
.i1 {
    color: white;
    font-weight:normal;
    font-size: 11px;
    font-family: Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(33, 48, 63);  
    margin-left: 34px;
    width: 260px;
    margin-top: 0px;
}
.sublinhado {
    border-bottom: 1px solid white;
    margin-left: 34px;
    margin-right: 260px;
    margin-top: 0px;
}
.txt3 {
    font-family: Helvetica, sans-serif;
    color: white;
    margin-left: 0px; 
    margin-top: 20px; 
    font-weight:normal;
    font-size: 11px; 
    text-align: center;
}